html {
    height: 100%;
}

body {
    background: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    height: 100%;
}

.left {
    width: 12%;
    height: 850px;
    background: #767473;
    position: absolute;
    top: 65px;
    left: 0;
}

.right {

    width: 88%;
    height: 850px;
    position: absolute;
    top: 65px;
    right: 0;
}

.nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #767473;
}

.nav {
    color: white;
}

.nav>li {
    position: relative;
}

.nav ul {
    background: #696465;
    display: none;
}

.nav li a {
    text-decoration: none;
    color: white;
    height: 40px;
    line-height: 40px;
    margin-left: 40px;
    font-size: 22px;
}

.nav ul>li {
    list-style-type: none;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}

.nav img {
    position: absolute;
    top: 8px;
    left: 10px;
}

h1 {
    text-align: center;
    height: 65px;
    line-height: 65px;
    margin: 0;
    padding: 0;
}

.box1 {
    background: rgb(255, 255, 255);
    height: 65px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px #ccc solid;
}

.box1 span {
    position: absolute;
    right: 100px;
    top: 22px;
    cursor: pointer;
}

.box1 label {
    position: absolute;
    right: 150px;
    top: 20px;
}

.down1 {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    height: 120px;
    border: 2px #ccc solid;
    border-radius: 3px;
    background: white;
    display: none;
}

.down1 div {
    height: 50%;
    text-align: center;
}

.down1 span {
    height: 100%;
    line-height: 60px;
    cursor: pointer;
}
td{
    text-align:center;
}

